extends layout

block content
  - each p in posts
    .blogpost
      .title
        a(href='/post/#{p._id}')
          h2.ptitle
            != p.title
      - if (user)
        .pcontrols
          a(href='/edit/#{p._id}') edit
          a(href='/del/#{p._id}') delete
      .tags tags:
        - each t in p.tags
          span.tag
            a(href='/tag/#{t}')!= t
      .body
        != p.body
  #pages page : :
    - var pp = Math.min(+page - 1, total)
    - var np = +page + 1 
    - if (pp === 0)
      span prev
    - else
      a(href='/#{pp}') prev
    - if (np > total)
      span next
    - else
      a(href='/#{np}') next
    